@{
    Layout = "/Pages/Shared/_Layout.cshtml";
}
@inject IdentityLocalizationService IdentityLocalizer

<h2>@IdentityLocalizer.GetLocalizedHtmlString("MANAGE_YOUR_ACCOUNT")</h2>

<div>
    <h4>@IdentityLocalizer.GetLocalizedHtmlString("MANAGE_CAHNGE_ACCOUNT_SETTINGS")</h4>
    <hr />
    <div class="row">
        <div class="col-md-3">
            <partial name="_ManageNav" />
        </div>
        <div class="col-md-9">
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
