/AspNetCorePagesWebpack/bin
/.vs/AspNetCorePagesWebpack/v15
/AspNetCorePagesWebpack/node_modules
/AspNetCorePagesWebpack/obj
/AspNetCorePagesWebpack/wwwroot/dist
/AspNetCorePagesWebpack/wwwroot/css
/.vs
/AspNetCorePagesWebpack/wwwroot/assets
/AspNetCorePagesWebpack/Client/main.js
/AspNetCorePagesWebpack/Client/main.js.map
/AspNetCorePagesWebpack/Client/polyfills.js
/AspNetCorePagesWebpack/Client/polyfills.js.map
/AspNetCorePagesWebpack/Client/vendor.development.js
/AspNetCorePagesWebpack/Client/vendor.development.js.map
/AspNetCorePagesWebpack/Client/vendor.production.js
/AspNetCorePagesWebpack/Client/vendor.production.js.map
/AspNetCorePagesIdentity/obj
/AspNetCorePagesIdentity/bin
/AspNetCorePagesIdentity/node_modules
/AspNetCorePagesIdentity/wwwroot/css
/AspNetCorePagesIdentity/wwwroot/dist
/AspNetCorePagesIdentity/wwwroot/assets
