@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = @IdentityLocalizer.GetLocalizedHtmlString("CONFIRM_EMAIL");
}
@inject IdentityLocalizationService IdentityLocalizer

<h2>@ViewData["Title"]</h2>
<div>
    <p>
        @IdentityLocalizer.GetLocalizedHtmlString("CONFIRM_EMAIL_TEXT")
    </p>
</div>
