@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = @IdentityLocalizer.GetLocalizedHtmlString("RESET_PASSWORD_CONFIRMATION");
}
@inject IdentityLocalizationService IdentityLocalizer

<h2>@ViewData["Title"]</h2>
<p>
    @IdentityLocalizer.GetLocalizedHtmlString("RESET_PASSWORD_CONFIRMATION_TEXT1")<a asp-page="./Login">@IdentityLocalizer.GetLocalizedHtmlString("RESET_PASSWORD_CONFIRMATION_CLICK_HERE")</a>.
</p>
