@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = @IdentityLocalizer.GetLocalizedHtmlString("RESET_PASSWORD_CONFIRMATION");
}
@inject IdentityLocalizationService IdentityLocalizer

<h2>@ViewData["Title"]</h2>
<p>
    Your password has been reset. Please <a asp-page="./Login">click here to log in</a>.
</p>
